<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>$!title</title>
</head>
<body>
<h1>标题：$!title</h1>
<div>
    <p>内容www：$!time, $!title, $!content1 </p>
    <p>macro函数测试：#test()</p>
</div>
</body>
</html>